---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";
import Features from "@components/features.astro";
import Logos from "@components/logos.astro";

const pricing = [
  {
    name: "Personal",
    price: "Free",
    popular: false,
    features: [
      "Lifetime free",
      "Up to 3 users",
      "Unlimited Pages",
      "Astro Sub domain",
      "Basic Integrations",
      "Community Support",
    ],
    button: {
      text: "Get Started",
      link: "/",
    },
  },
  {
    name: "Startup",
    price: {
      monthly: "$19",
      annual: "$16",
      discount: "10%",
      original: "$24",
    },
    popular: true,
    features: [
      "All Free Features",
      "Up to 20 users",
      "20 Custom domains",
      "Unlimited Collaborators",
      "Advanced Integrations",
      "Priority Support",
    ],
    button: {
      text: "Get Started",
      link: "#",
    },
  },
  {
    name: "Enterprise",
    price: "Custom",
    popular: false,
    features: [
      "All Pro Features",
      "Unlimited Custom domains",
      "99.99% Uptime SLA",
      "SAML & SSO Integration",
      "Dedicated Account Manager",
      "24/7 Phone Support",
    ],
    button: {
      text: "Contact us",
      link: "/contact",
    },
  },
];
---

<Layout title="Servicios">
  <section
  class="relative bg-fixed bg-[url(/nosotros.jpg)] bg-cover bg-center bg-no-repeat mb-20"
>
  <div
    class="absolute inset-0 bg-black/50  from-black/50 to-black/50  bg-gradient-to-l"
  >

</div>

<div
  class="relative mx-auto max-w-screen-xl text-white px-4 py-32 sm:px-6 lg:flex lg:h-[800px] lg:items-center lg:px-8"
>
  <Container>
    <Sectionhead>
      <Fragment slot="title">Servicios</Fragment>
      <Fragment slot="desc">
        S
      </Fragment>
    </Sectionhead>
    
    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </div>
</section>

<Container>
  
  <Features/>
  <Logos/>
</Container>
  </Container>

</Layout>
