---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Optimizamos tu logística y transporte",
    description:
      "Alianzas con proveedores reconocidos, tanto de productos como de servicios logísticos y de transporte internacional.",
    icon: "bx:bxs-truck",
  },
  {
    title: "Tu equipo de expertos en hotelería",
    description:
      "Equipo Multidisciplinario especializado en la industria de hospitalidad.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Proveedores confiables para tu éxito",
    description:
      "Conocimiento de proveedores que cumplen con los requerimientos de las principales cadenas hoteleras, incluyendo solicitud de precio y  revisión de costos en la cadena de valor. ",
    icon: "bx:bxs-data",
  },
  {
    title: "Asesoramos en contratos y exoneraciones",
    description:
      "Experiencia en el manejo de contratos turísticos y proceso de exoneración de impuestos.",
    icon: "bx:bxs-building",
  },

];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Tu socio estratégico para el éxito de tu hotel
  </h2>
  <p class="text-lg mt-4 text-slate-600">
    Soluciones integrales en contratos, exoneraciones, proveedores, logística y más.
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-2 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-teal-900 rounded-full  p-2 w-8 h-8 shrink-0 hover:animate-pulse">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
