---
import { Picture } from "astro:assets";
import heroImage from "assets/msh (500 x 300 px).png";

---




<!-- <section
  class="relative bg-fixed bg-[url(../src/assets/hero.png)]  bg-cover bg-center  bg-no-repeat mb-20"
>
  <div
    class="absolute inset-0 bg-black/35  from-black/35 to-black/35  bg-gradient-to-l"
  >


</div>

  <div
    class="relative mx-auto max-w-screen-xl px-4 py-32 md:px-6 lg:flex lg:h-screen lg:items-center lg:px-8"
  >
  <main
  class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 hidden md:block">
    <Picture
      src={heroImage}
      alt="Logo MSH"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1
      class="text-5xl lg:text-6xl xl:text-7xl text-white font-bold lg:tracking-tight xl:tracking-tighter">
      Multi Servicios Hoteleros CH
    </h1>
    <p class="text-lg mt-4 text-slate-100 max-w-xl">
      Es una empresa especializada en gesti贸n de compras 
      de elementos de <wbr /> OS&E y FF&E para proyectos hoteleros
      y hoteles en operaci贸n.
    </p>
    
  </div>
</main>
    </div>
  </div>
</section> -->



<!--
  Heads up! 

  This component comes with some `rtl` classes. Please remove them if they are not needed in your project.
-->

<section
  class="relative bg-[url(/hero.png)] bg-cover bg-fixed bg-center bg-no-repeat mb-20"
>
  <div
    class="absolute inset-0 bg-white/75 sm:bg-transparent sm:from-white/95 md:to-white/25 bg-gradient-to-r "
  ></div>

  <div
    class="relative mx-auto  md:max-w-screen-2xl px-4 py-32 md:px-6 lg:flex lg:h-screen lg:items-center lg:justify-start lg:px-8"
  >
    <div class="max-w-xl text-start ">
      <h1 class="text-3xl font-extrabold md:text-5xl">
        Multi Servicios 

        <strong class="block font-extrabold text-teal-700"> Hoteleros CH </strong>
      </h1>

      <p class="mt-4 max-w-lg md:text-xl/relaxed text-justify">
        Es una empresa especializada en gesti贸n de compras 
      de elementos de <wbr /> OS&E y FF&E para proyectos hoteleros
      y hoteles en operaci贸n.
      </p>

     
    </div>
  </div>
</section>