---
import { Picture } from "astro:assets";
import heroImage from "assets/msh (500 x 300 px).png";

---





<section
  class="relative bg-[url(/hero.png)] bg-cover bg-fixed bg-center bg-no-repeat mb-20"
>
  <div
    class="absolute inset-0 bg-white/75 sm:bg-transparent sm:from-white/95 md:to-white/25 bg-gradient-to-r "
  ></div>

  <div
    class="relative mx-auto  md:max-w-screen-2xl px-4 py-32 md:px-6 lg:flex lg:h-screen lg:items-center lg:justify-start lg:px-8"
  >
    <div class="max-w-xl text-start animate-fade-down animate-once  animate-ease-in-out animate-normal animate-fill-both ">
      <h1 class="text-3xl font-extrabold md:text-5xl">
        Multi Servicios 

        <strong class="block font-extrabold text-teal-700"> Hoteleros CH </strong>
      </h1>

      <p class="mt-4 max-w-lg md:text-xl/relaxed text-justify">

        Somos una empresa especializada en servicios de gestión de compras de mobiliario,
         equipos y suministros hoteleros.

      
      </p>

     
    </div>
  </div>
</section>