---

---

<div class="mt-24">
  <h2 class="text-center text-slate-500 pb-2"> Amplia red de proveedores y aliados estratégicos en China, Estados Unidos, México y Centroamérica que nos permite ofrecer una diversidad de productos que se ajustan a las necesidades y proyectos de cada cliente. </h2>
  <h2 class="text-center text-slate-500">Representaciones exclusivas de productos y marcas lideres de soluciones hoteleras. Tales como: </h2>
  <div class="flex gap-8 md:gap-20 items-center justify-center mt-10 flex-wrap">
    <img class="hover:animate-rotate-y" src="/LG.png" alt="Logo LG" width="100" height="100">
    <!-- <img class="hover:animate-rotate-y" src="/MDC.png" alt="Logo LG" width="100" height="100">
    <img class="hover:animate-rotate-y" src="/MOHAWK.png" alt="Logo LG" width="100" height="100"> -->
    <img class="hover:animate-rotate-y" src="/SAMSUNG.png" alt="Logo LG" width="100" height="100">
    <!-- <img class="hover:animate-rotate-y" src="/SHAWFLOORS.png" alt="Logo LG" width="100" height="100"> -->
   
  </div>
</div>
